# Исключить виртуальные окружения
.venv/
env/
__pycache__/

# Логи и временные файлы
*.log
*.tmp
*.swp
.ruff_cache/

# Исключить файлы конфигурации IDE
.vscode/
.idea/

# Исключить данные и модели
uploads/
models/

# Исключить файлы сборки
dist/
build/
*.egg-info/

# Исключить файлы окружения
.env
*.env

# Исключить node_modules, если есть фронтенд
node_modules/